/*custom-font*/
@font-face {
      font-family: Codec-Pro;
      src: url(/static/codec-pro.regular.ttf);
}

@font-face {
      font-family: Digital-7;
      src: url(/static/digital-7.ttf);
}

.btn{
    color: #006838;
    margin-left: 20px;
    margin-right: 20px;
}

/*Navigation Section*/
.navbar{
    font-family: Codec-Pro;
    font-weight: bold;
    background-color: #26b468;
}

.navbar-brand{
    color: #006838;
    font-size: 2rem;
    margin-left: 10px;
}

.navbar-brand img{
    padding-top: 10px;
    width: 120px;
    height: auto;
}

.navbar-toggler-icon{
    background-image: url(/static/toggle-icon.png);
}

.main{
    background-image: url(/static/bg01.png);
    background-size: cover;
    color: #006838;
    margin-top: px;
}

.contentAll{
    padding-top: 10px;
}

/* change the link color and add padding for height */
.navbar .navbar-nav .nav-link {
    color: #006838;
    padding: 6px 10px;
}

/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: #006838;
    background-color: #f1f2f2; /* add background-color to active links */
    border-radius: 5px;
}

/*display_content Section*/
.display_content{
    color: #006838;
    font-family: Codec-Pro;
    overflow-y: scroll;
    background: rgba(139, 195, 64, 0.8);
    height: 300px;
    width: auto;
    border-radius: 5px;
    box-shadow: 6px 6px rgba(0, 104, 56, 0.3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.display_content::-webkit-scrollbar {
    display: none;
}

.prayerTimeInfo::-webkit-scrollbar {
    display: none;
}

.weatherInfo::-webkit-scrollbar {
    display: none;
}



/* Hide scrollbar for IE, Edge and Firefox */
.display_content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*prayerTimeInfo: background color(#8bc340)*/
.prayerTimeInfo{
    align-items: center;
    font-family: Codec-Pro;
    font-size: 1.2rem;
    background: rgba(139, 195, 64, 0.8);
    height: 130px;
    width: auto;
    margin-top: 20px;
    border-radius: 5px;
    line-height: 1.5;
    padding-top: 10px;
    box-shadow: 6px 6px rgba(0, 104, 56, 0.3);
}

.prayerTimeInfo table{
    color: #006838;
}

/*weatherInfo*/
.weatherInfo{
   background: rgba(139, 195, 64, 0.8);
   overflow: scroll;
   height: 140px;
   width: auto;
   font-size: 1.2rem;
   margin-top: 20px;
   border-radius: 5px;
   box-shadow: 6px 6px rgba(0, 104, 56, 0.3); 
}

.weather table{
    color: #006838;
}

.weather-icon img{
    height: 130px;
    width: auto;
}

/*Row Attribute*/
.row01{
    height: 300px;
    width: auto;
}

.row02{
    font-family: Codec-Pro;
}


/*Prayer Time Now*/
.nowHeader{
    margin-top: 10px;
}

/*Location*/
.locationHeader{
    font-size: 1.8rem;
}

.place{
    font-size: 1.8rem;
}

.now{
    font-size: 5rem;
    line-height: 0.8;
}


/*Date Today*/
.dateToday{
    font-size: 1.8rem;
}

#current_time{
    font-family: Digital-7;
    font-size: 2.3rem;
}

.date{
    font-family: Digital-7;
}

/*Upcoming Prayer Time*/
.upcomingHeader{
    margin-top: 10px;
    font-size: 2rem;
}

.nextPrayer{
    font-size: 3.5rem;
}

.countDownHeader{
    font-size: 2rem;
}

.countDownTimer{
    font-size: 4rem;
    font-family: Digital-7;
    line-height: 1;
}

.countDownTimer span{
    font-size: 2rem;
}

/*Collumns*/

.col01{
    justify-content: center;
    padding-left: 40px;
    padding-top: 15px;
}

.col02{
    font-size: 2.5rem;
    border-right: 3px solid;
    padding-top: 15px;
}

.col03{
    border-left: 3px solid;
    padding-top: 15px;
}

.col04{
    padding-top: 10px;
    padding-left: 50px;
    height: 140px;
}

.col05{
    padding-top: 10px;
    height: 140px;
}

/*footer*/
.footer{
    height: 40px;
}

.footer a{
    color: #2b3990;
}